body{
    background-image: url('hatter.jpg');
}
.logo{
    width: 100px;
}
.szolghatter{
    background-color: #004e8c;
}
iframe {
    width: 600px; height: 450px; border: 0px;
}
.hatter1{
    background-image: url("kepek/MOD_fooldallogo.png")
}
#Gaborka{
    float: right;
}
.clear-float{
    clear: both;
}
.Mod_web{
    background-image: url("kepek/MOD_web_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}
.form-group{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.form-control{
    color: #004e8c;
}
.submit{
    margin-bottom: 1rem;
}
#eredmeny{
    font-size: 150%;
    font-variant: small-caps;
}
nav{
    box-shadow: 1px 4px 15px grey;
}
footer{
    box-shadow: 4px 4px 15px grey;
}
a{
    text-decoration: none;
}
<<<<<<< HEAD
.szolg1:hover{
    border: yellow 5px solid;
    padding: white 2px;
=======
.border-left{
    border-left: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
>>>>>>> 8b261203370438730e7c97f9d422a0685bceccfd
}