body{
    background-image: url('hatter.jpg');
}
.logo{
    width: 100px;
}
.szolghatter{
    background-color: #004e8c;
}
iframe {
    width: 600px; height: 450px; border: 0px;
}
.hatter1{
    background-image: url("kepek/MOD_fooldallogo.png")
}
#Gaborka{
    float: right;
}
.clear-float{
    clear: both;
}
.Mod_web{
    background-image: url("kepek/MOD_web_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form-group{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.form-control{
    color: #004e8c;
}
.submit{
    margin-bottom: 1rem;
}